library("ROCR")

remove(data)

data1 <-  read.csv("../Desktop/sebastian/r studio/cheat sheet/roc-example-1.csv.txt")
data2 <-  read.csv("../Desktop/sebastian/r studio/cheat sheet/roc-example-2.csv.txt")

# 0 <- fallo
# 1 <- exito

pred1 <- prediction(data1$prob, data1$class)
perf1 <- performance(pred1, "tpr", "fpr")
plot(perf1)
lines(par()$usr[1:2], par()$usr[3:4])

prob.cuts1 <- data.frame(c(perf1@alpha.values[[1]],
                           fpr= perf1@x.values[[1]],
                           tpr= perf1@y.values[[1]]))
# head
head(prob.cuts1)
# cola
tail(prob.cuts1)

#seleccionamos los verdaderos positvos p() > 0.8

prob.cuts1[prob.cuts1$tpr>=0.8,]


# con data2

pred2 <- prediction(data2$prob, data2$class, label.ordering =  c("non-buyer", "buyer"))
perf2 <- performance(pred2, "tpr", "fpr")

plot(perf2)
lines(par()$usr[1:2], par()$usr[3:4])
```
